p {
    display: inline;
    font-size: 2em;
    color: #fff;
}

p:nth-child(odd) {
    background-color: blue;
}

p:nth-child(even) {
    background-color: orange;
}

p:nth-child(1n+3) {
    background-color: orange;
}

a {
    width: 200px;
    height: 200px;
    background-color: orange;
    color: blue;
    font-size: 1.2em;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 200px;
}

img {
    float: right;
}

p:nth-child(3) {
    clear: both;
}

#kopka {
    height: 100px;
    width: 100px;
    float: none;
    margin-bottom: 300px;
    display: inline-block;
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    /* wersja skrocona 
    transition: all 5s linear 0.5s; 
    or
    transition: width 5s linear 0.5s, height 2s linear 0.5s;
    
    */
}

#kopka:hover {
    height: 700px;
    width: 700px;
}

#background {
    height: 50vh;
    background-color: aquamarine;
    background-image: url(https://static.wixstatic.com/media/76772b_7623a68cc6b74754908a9f91a4a3b208.png/v1/fill/w_241,h_206,al_c,usm_0.66_1.00_0.01/76772b_7623a68cc6b74754908a9f91a4a3b208.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
