p {
    display: inline;
    font-size: 2em;
    color: #fff;
}

p:nth-child(odd) {
    background-color: blue;
}

p:nth-child(even) {
    background-color: orange;
}

p:nth-child(1n+3) {
    background-color: orange;
}

a {
    width: 200px;
    height: 200px;
    background-color: orange;
    color: blue;
    font-size: 1.2em;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 200px;
}

img {
    float:right;
}

p:nth-child(3) {
    clear: both;
}
#kopka {
    height: 100px;
    width: 100px;
    float: none;
    margin-bottom: 300px;
    display: inline-block;
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    
    /* wersja skrocona 
    transition: all 5s linear 0.5s; 
    or
    transition: width 5s linear 0.5s, height 2s linear 0.5s;
    
    */
    
}
#kopka:hover {
    height: 700px;
    width: 700px;
    
}
    
